/*index.html CSS*/
@font-face {font-family: "MyriadPro-Regular"; src: url('../fonts/MyriadPro-Regular.otf') format('otf');}
@font-face {font-family: "myriad-pro-light";src: url('../fonts/myriadpro-light-webfont.eot');src: url('../fonts/myriadpro-light-webfont.ttf') format('truetype'), url('../fonts/myriadpro-light-webfont.woff');}
*{
	padding: 0;
	margin: 0;
	font-family: "MyriadPro-Regular";
}

#main-header {
	padding-top: 65px;
	width: 100%;
}

.banner {
	width: 100%;
	display: block;
	margin: 0 auto;
	overflow: hidden;
}

.banner img {
	width: 100%;
}

.conts {
	width: 100%;
	max-width: none;
	padding-top: 30px;
}

.form-holder {
	max-width: none;
	padding: 0 20px;
	display: block;
}

.form-holder form {
	width: 100%;
	display: block;
}

.input-holder {
	width: 100%;
	display: block;
	margin-bottom: 10px
}

.form-holder form input {
	width: 90%;
	background-color: #ebebeb;
	color: #666666;
	padding: 15px;
	border: none;
	font-family: "myriad-pro-light";
	font-size: 16px;
	/*margin: 0 10px;*/
}

.input-btn {
	max-width: 490px;
	display: block;
	width: 100%;
}

.form-holder form input.btn {
	background-color: #0099cc;
	color: #fff;
	max-width: 170px;
}

.form-holder a {
	font-family: "myriad-pro-light";
	font-size: 16px;
	color: #666666;
	margin-left: 30px;
}

.conts-text {
	padding: 20px 20px 0 20px;
	font-family: "MyriadPro-Regular"
}

.conts-text p {
	padding-bottom: 30px;
	width: 101%;
}

.conts-text span {
	display: block;
}


@media (min-width: 550px) {

.conts {
	width: 100%;
	margin: 0 auto;
	padding-top: 30px;
}

.form-holder form {
	display: block;
}

.form-holder form input {
	width: 95%;
	background-color: #ebebeb;
	color: #666666;
	padding: 15px;
	border: none;
	font-family: "myriad-pro-light";
	font-size: 16px;
	/*margin: 0 10px;*/
}
}

@media (min-width: 980px) {

#main-header {
	padding-top: 65px;
	width: 100%;
}

.banner {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

.banner img {
	width: 100%;
}

.conts {
	width: 100%;
	max-width: 980px;
	margin: 0 auto;
	padding-top: 30px;
}

.form-holder form{
	margin: 0 auto;
}

.input-holder {
	width: 46%;
	display: inline-block;
	margin-bottom: 10px;
	padding-right: 35px;
}

.form-holder form input {
	width: 100%;
	display: inline-block;
	background-color: #ebebeb;
	color: #666666;
	padding: 15px;
	border: none;
	font-family: "myriad-pro-light";
	font-size: 16px;
}

.input-btn {
	max-width: 470px;
	display: inline-block;
	width: 50%;
	float: right;
}

.form-holder form input.btn {
	background-color: #0099cc;
	color: #fff;
	max-width: 170px;
}

.form-holder a {
	font-family: "myriad-pro-light";
	font-size: 16px;
	color: #666666;
	margin-left: 30px;
}

.conts-text {
	padding-top: 20px;
	font-family: "MyriadPro-Regular", "Calibri";
	font-size: 16px;
}

.conts-text p {
	padding-bottom: 30px;
	width: 101%;
	font-family: "MyriadPro-Regular", "Calibri";
}

.conts-text p strong {
	font-family: "MyriadPro-Regular", "Calibri";
}

.conts-text span {
	display: block;
	font-family: "MyriadPro-Regular", "Calibri";
}
}