/*index.html CSS*/
@font-face {font-family: 'MyriadPro-Regular'; src: url('MyriadPro-Regular.otf') format('otf');}

*{
	padding: 0;
	margin: 0;
}

#main-header {
	padding-top: 65px;
	width: 100%;
}

.main-wrapper {
	width: 100%;
	max-width: 980px;
	margin: 0 auto;
}

.banner {
	width: 100%;
	height: 503px;
	/*margin: 0 auto;*/
	background: url("../img/hero-banner-1.png");
}

.wrapper-980 {
	width: 100%;
	max-width: 980px;
	margin: 0 auto;
}

.banner p {
	padding-top: 310px;
	margin-left: -282px;
}

.banner p span{
	color: #fff;
	display: block;
	text-align: center;
	font-family: 'Arial';
	font-size: 20px;
}

.conts-text {
	font-family: 'MyriadPro-Regular';
}